<div class="align-items-center">
    <h1 class="text-center">{{title}}</h1>
    {{!-- <p class="text-center">{{data}}</p> --}}
    {{!-- <p class="text-center">{{error}}</p> --}}
    <p class="text-center">{{msg}}</p>
    {{!-- <p class="text-center">{{url}}</p> --}}

    <div class="text-center font-weight-bold">
        <a href="http://localhost:5000/quanlysinhvien">Quay về trang quản lý sinh viên</a>
    </div>
</div>